.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner {
  width: 100%;
  display: flex;
  margin-top: 20px;
  height: 30vw;
  justify-content: space-between;
  text-align: left;
}
.banner::before {
  content: "";
  position: absolute;
  width: 42vw;
  height: 55vw;
  right: 0;
  top: 0%;
  opacity: 0.3;
  z-index: -1;
  filter: grayscale(1);
  background: url("../images/patterns/bg-pattern-intro-right-desktop.svg")
    no-repeat right/contain;
}

.desc {
  padding-left: 40px;

  display: flex;
  align-items: center;
}

.desc div {
  font-size: 4vw;
}
.desc span {
  font-weight: 800;
  cursor: default;
  transition: 0.2s ease;
}

.imgContainer .img {
  width: 32.8vw;
}

.aboutContainer {
  margin-top: 40px;
  position: relative;
  display: flex;
  justify-content: center;
}
.about {
  padding: 40px 0;
  font-size: 1.7rem;
  border-bottom: 1px solid rgb(214, 214, 214);
  border-top: 1px solid rgb(214, 214, 214);
  width: 40%;
  line-height: 3rem;
}

.about div,
.title {
  font-size: 3rem;
  margin-bottom: 40px;
  font-weight: 700;
}

.about a {
  font-weight: 600;
  color: inherit;
  text-decoration: none;
}

.about a:hover,
.desc span:hover {
  color: #ff9900;
}

.skillsContainer {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills {
  display: flex;
  width: 40%;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 220px;
  background: #fff;
  margin: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 1.3rem;
  cursor: default;
}

.skill .skillImage {
  width: 40px;
}
@media screen and (max-width: 1200px) {
  .about div,
  .title {
    font-size: 2.5rem;
  }
  .about {
    font-size: 1.5rem;
  }
  .about {
    width: 80%;
  }
  .skills {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .desc {
    padding-left: 20px;
  }
  .about div,
  .title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .about {
    font-size: 0.8rem;
    line-height: 2rem;
  }
  .skill {
    width: 120px;

    font-size: 0.7rem;
  }
  .skill .skillImage {
    width: 20px;
    margin-right: 10px;
  }
}

@media (orientation: portrait) {
  .about {
    width: 80%;
  }
  .skills {
    width: 100%;
  }
}
