.mainBlog span {
  font-weight: 600;
}
.mainBlog footer {
  margin-bottom: 70px;
}

.mainBlog h1 {
  margin-bottom: 40px;
}

.blogHtml h3 {
  margin-bottom: 20px;
}
.blogHtml {
  padding: 20px;
}

@media screen and (max-width: 568px) {
  .mainBlog h1 {
    margin-bottom: 10px;
  }
}
